<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>231870076850-s3nhudj4jci130oet4bssn7msah920i7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231870076850-s3nhudj4jci130oet4bssn7msah920i7</string>
	<key>API_KEY</key>
	<string>AIzaSyAKfkTb2ar1omOb1n0qsq2Wtx1XvpKM5do</string>
	<key>GCM_SENDER_ID</key>
	<string>231870076850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.solvedHandong</string>
	<key>PROJECT_ID</key>
	<string>solved-handong</string>
	<key>STORAGE_BUCKET</key>
	<string>solved-handong.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231870076850:ios:03713a11397adef57876ab</string>
</dict>
</plist>